SETUP_VERSION={Magento Version}
SETUP_INSTALL_DB=false
SETUP_BASE_URL={site's base url}
SETUP_SECURE_BASE_URL={site's secure base url}
SETUP_ADMIN_FIRSTNAME={Admin User firstname}
SETUP_ADMIN_LASTNAME={Admin User lastname}
SETUP_ADMIN_EMAIL={Admin User email}
SETUP_ADMIN_USER={Admin User name}
SETUP_ADMIN_PASSWORD={Admin User password}
SETUP_BACKEND_FRONTNAME={Admin frontname}
SETUP_USE_SAMPLE_DATA=false

SESSION_SAVE={file/db/redis}
SESSION_SAVE_REDIS_HOST={redis host / e.g magento-redis}
SESSION_SAVE_REDIS_PORT=6379

SEARCH_ENGINE={mysql/elasticsearch6/elasticsearch7}
ELASTICSEARCH_HOST=magento-elasticsearch
ELASTICSEARCH_PORT=9200

AMQP_HOST=magento-rabbitmq

DB_HOST={db host}
DB_NAME={db name}
DB_USER={db user}
DB_PASSWORD={db password}